<!DOCTYPE html>
          <html lang='es'>
		<head>
			<meta charset='UTF-8'/>
			<title>Simetrico</title>
			<link rel='stylesheet' type='text/css' href='../style/cif.css'/>
		</head>
		<body>
			<h1>Cifrado Simetrico</h1>
			<form method='get' action='../programs/cisim.php'>
			<p>Mensaje:<input type='text' name='cad' maxlength=30/></p>
			<p>Llave:<input type='number' min=0 max=4 placeholder='[0-4]' name='ll' maxlength=7/></p>
			<p><input type='submit'/></p>
			</form>
		</body>
	</html>