body
{
	background-image:url("../resources/images/playf.jpg");
}
h1
{
	font-size:50px;
	padding:2em;
	text-align:center;
	color:red;
}
p
{
	font-size:30px;
	font-family:Baskerville;
	text-align:center;
	color:#0066CC;
}
a
{
	font-size:20px;
}